@use 'sass:math';

//-------------------------------------
//  mixin
//-------------------------------------

// animation
//-------------------------------------
@mixin animation($name, $duration: 1s, $timing-function: ease, $delay: 0s, $iteration-count: 1, $direction: normal, $fill-mode: forwards) {
  animation: {
    name: $name;
    duration: $duration;
    timing-function: $timing-function;
    delay: $delay;
    iteration-count: $iteration-count;
    direction: $direction;
    fill-mode: $fill-mode;
  }
}

// font-size
//-------------------------------------

@function fz($size, $base: 16) {
  @return ($size / $base) * 1rem;
}

// clamp
//-------------------------------------

// * 使用例 *
// .hoge {
//   font-size: clamp(16, 32, 375, 1200);
// }
// -> 幅1200pxの時：32px、幅375pxの時：16px

@function fz_clamp($minFontSize, $maxFontSize, $minViewport, $maxViewport, $base: 16) {
  $slopeSize: ($maxFontSize - $minFontSize) / ($maxViewport - $minViewport);
  $changingSize: $slopeSize * 100;
  $fixedSize: $minFontSize - $slopeSize * $minViewport;

  // 出力
  @return clamp(($minFontSize / $base) * 1rem, ($changingSize) * 1vw + ($fixedSize / $base) * 1rem, ($maxFontSize / $base) * 1rem);
}
