/* Error: Invalid function name.
 *    ,
 * 37 | @function clamp($minFontSize, $maxFontSize, $minViewport, $maxViewport, $base: 16) {
 *    | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src/assets/sass/base/_mixin.scss 37:1  @forward
 *   src/assets/sass/style.scss 7:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Invalid function name.\a    \2577 \a 37 \2502  @function clamp($minFontSize, $maxFontSize, $minViewport, $maxViewport, $base: 16) {\a    \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src/assets/sass/base/_mixin.scss 37:1  @forward\a   src/assets/sass/style.scss 7:1         root stylesheet";
}
